body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: flex;
    height: 100vh;
}

#sidebar {
    width: 200px;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

#bible-content {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
    transition: background-color 0.3s, color 0.3s;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 20px);
    margin-top: 10px;
    box-sizing: border-box;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode #sidebar {
    background-color: #1e1e1e;
    color: #ffffff;
}

.chapter {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode .chapter {
    background-color: #1e1e1e;
    color: #ffffff;
}

.chapter h2 {
    margin-top: 0;
}

.highlight {
    background-color: yellow;
}
