<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LittleBook</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="{{ 'dark-mode' if isDarkMode else 'light-mode' }}">
    <div class="container">
        <aside id="sidebar">
            <h2>LittleBook</h2>
            <select id="bible-selector" data-last-bible="{{ last_bible }}">
                {% for bible in bible_files %}
                    <option value="{{ bible }}">{{ bible }}</option>
                {% endfor %}
            </select>
            <button id="toggle-theme">Toggle Theme</button>
        </aside>
        <main id="bible-content"></main>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
